language: node_js
node_js:
  - "node"
  - "lts/*"
  - "7"
sudo: required
services: # need to start antidote instance
  - docker
cache: # cache node_modules between builds!
  directories:
    - "node_modules"

before_install:
  - git clone https://github.com/SyncFree/antidote-java-tutorial.git
  - cd antidote-java-tutorial/setup
  - ./start_antidote.sh
  - cd ../..
